body {
    font-family: system-ui;
    font-weight: 100;
    font-style: normal;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #94d8f3;
}

.games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}
.game {
    display: inline-block;
    text-align: center;
}
.game img {
    width: 200px;
    height: auto;
    border: 5px solid #484f57;
    border-radius: 10px;
    transition: transform 0.2s, border-color 0.2s;
}
.game img:hover {
    transform: scale(1.1);
    border-color: #007BFF;
}
.game a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}
.game a:hover {
    text-decoration: underline;
}
section {
    margin-bottom: 40px;
}