body {
    font-family: 'pixel';
    font-weight: 100;
    font-style: normal;
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
    background-image: url('../Sky_night_space_background.gif');
    background-size: contain;
}

.games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}
.game {
    display: inline-block;
    text-align: center;
}
.game img {
    width: 150px;
    height: auto;
    border: 5px solid #ffffff;
    border-radius: 20px;
    transition: transform 0.2s, border-color 0.2s;
}
.game img:hover {
    transform: scale(1.1);
    border-color: #007BFF;
}
.game a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}
.game a:hover {
    text-decoration: underline;
}
section {
    margin-bottom: 40px;
}

#title{
    font-size: 100px;
    font-family: 'pixel';
    color: white;
}

@font-face {
    font-family: 'pixel';
    src: url('../PixelatedEleganceRegular-ovyAA.ttf');
}

h1{
    color: white;
}
h2{
    color: white;
    font-size: 15px;
}

a{
    color: rgba(216, 167, 245, 0.274);
}


